.engagement {
  width: 1200px;
  height: auto;
  border: 1px solid black;
  margin: 100px auto 0px;
}
.engagement-head {
  width: 200px;
  height: 150px;
  margin: auto;
}
.engagement-background {
  width: 100%;
  height: 550px;
  border: 1px solid black;
  background-color: black;
}
